<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Brain Stroke Prognosis</title>
</head>

<body style="background-color:rgb(140, 200, 243);">
    <td>
        <H1 style="text-align:center">Brain Stroke Prognosis</H1>
        <a href="https://github.com/prantoran/ML_Zoomcamp_predict_brain_stroke">
            <p style="text-align:center">Project info (github repo)</p>
        </a>
        <p style="text-align:center">Model trained with 3984 observations using <a href="https://www.kaggle.com/datasets/jillanisofttech/brain-stroke-dataset">Brain Stroke Dataset</a> from Kaggle.</p>

    </td>

    <div style="text-align:center;">
        <p><b>The probability of stroke is {{ data }}</b></p>
        <p>Will stroke occur? {{ data2 }}</p>
        
        <p>To try again 
            <a href="http://localhost:9696/"> click here </a>
        </p>
    </div>
</body>

</html>
